.tetris-wrapper {
    display: flex;
}

.tetris {
    flex: 0 0 65%;
}

.sidebar {
    flex: 1;
    margin: 20px;
}

#score {
   float:left;
   margin: 10px;
}

#start {
   float:left;
   clear: left;
   margin: 10px;
}

#start-btn {
    padding: 5px 10px;
}

.stage {
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(12, 20px);
    grid-gap: 1px;
    width: 100%;
    max-width: 240px;

}

.cell {
    width: auto;
}

.t0 {
    background: rgba(211, 211, 211, 0.8);
    border: 0px solid;
}

.tI {
    background: rgba(80, 227, 230, 0.8);
    border: 3px solid;
}

.tJ {
    background: rgba(36, 95, 223, 0.8);
    border: 3px solid;
}

.tL {
    background: rgba(223, 173, 36, 0.8);
    border: 3px solid;
}

.tO {
    background: rgba(223, 217, 36, 0.8);
    border: 3px solid;
}

.tS {
    background: rgba(48, 211, 56, 0.8);
    border: 3px solid;
}

.tT {
    background: rgba(132, 61, 198, 0.8);
    border: 3px solid;
}

.tZ {
    background: rgba(227, 78, 78, 0.8);
    border: 3px solid;
}