.tetris-wrapper {
    width: 100vw;
    height: 100vh;
    background: url(${bgImage}) #000;
    background-size: cover;
    overflow: hidden;
}

.tetris {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    margin: 0 auto;
    max-width: 900px;
}

aside {
    width: 100%;
    max-width: 200px;
    display: block;
    padding: 0 20px;
}

.stage {
    display: grid;
    grid-template-rows: repeat(
        20,
        calc(25vw / 12)
        );
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1px;
    border: 2px solid #333;
    width: 100%;
    max-width: 25vw;
    background: #111;
}

.cell {
    width: auto;
    /* border-radius: 5px; */
   /* border-bottom-color: rgba(${props => props.color}, 0.1);
    border-right-color: rgba(${props => props.color}, 1);
    border-top-color: rgba(${props => props.color}, 1);
    border-left-color: rgba(${props => props.color}, 0.3);*/
}

.t0 {
    background: rgba(211, 211, 211, 0.8);
    border: 0px solid;
}

.tI {
    background: rgba(80, 227, 230, 0.8);
    border: 3px solid;
}

.tJ {
    background: rgba(36, 95, 223, 0.8);
    border: 3px solid;
}

.tL {
    background: rgba(223, 173, 36, 0.8);
    border: 3px solid;
}

.tO {
    background: rgba(223, 217, 36, 0.8);
    border: 3px solid;
}

.tS {
    background: rgba(48, 211, 56, 0.8);
    border: 3px solid;
}

.tT {
    background: rgba(132, 61, 198, 0.8);
    border: 3px solid;
}

.tZ {
    background: rgba(227, 78, 78, 0.8);
    border: 3px solid;
}